.App {
  text-align: center;
  width: 100%;
  background: grey;
  margin: 15px;
}

body {
  /*height: 1000px;*/
  background: #dfdfdf !important;
}

.textArea__component {
  width: 40%;
  float: left;
  padding: 18px;
}

.markdowned__component {
  width: 60%;
  float: right;
  padding: 18px;
}